<div class="message-wrapper">
    <h4>Messages</h4>
    <div class="message-cards">
        <mat-card *ngFor="let message of messages" class='message-card'>
            <mat-card-header>
                <mat-card-title>{{message.subject}}</mat-card-title>
                <mat-card-subtitle>From: {{message.sender.emailAddress.name}} ({{message.sender.emailAddress.address}})</mat-card-subtitle>
                <mat-card-subtitle>
                    To:
                    <div class="recipients" *ngFor="let recipient of message.toRecipients">
                        <div><span>{{recipient.emailAddress.name}}</span></div>
                        <div>{{recipient.emailAddress.address}}</div>
                    </div>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    Cc:
                    <div class="recipients" *ngFor="let recipient of message.ccRecipients">
                        <div><span>{{recipient.emailAddress.name}}</span></div>
                        <div>{{recipient.emailAddress.address}}</div>
                    </div>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    Bcc:
                    <div class="recipients" *ngFor="let recipient of message.bccRecipients">
                        <div><span>{{recipient.emailAddress.name}}</span></div>
                        <div>{{recipient.emailAddress.address}}</div>
                    </div>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class='content'>
                <p>
                    {{message.bodyPreview}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="markAsUnread(message)">Mark as Unread</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>