.message-wrapper {
    margin: 10px;
}

.recipients {
    margin-bottom: 5px;
}

.message-cards {
    display: flex;
}

.message-card {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}