<p *ngIf="isUserLoggedIn()">
    Username: {{ getUsername() }}
    Token expire date: {{ tokenExpireDate | date : 'medium'}}
    Token: {{ accessToken }}
</p>
<button (click)="authenticate()">Connect to Outlook</button>
<button (click)="logout()">Logout</button>

<h4>Meetings</h4>
<div class='meeting-wrapper'>
    <mat-card *ngFor="let meeting of meetings" class='meeting-card'>
        <mat-card-header>
            <mat-card-title>{{meeting.subject}}</mat-card-title>
            <mat-card-subtitle>{{meeting.location.displayName}}</mat-card-subtitle>
            <mat-card-subtitle>{{meeting.start.dateTime | date : 'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{meeting.bodyPreview}}
            </p>
        </mat-card-content>
    </mat-card>
</div>